<!doctype html>
<html>
    <head>
        <title>장고북마크|{% block title %} {% endblock %}</title>
        <link rel="stylesheet" href="/static/bookmarks/style.css" type="text/css" />
        {% include "header.html" %}
        {% block external %}{% endblock %}
    </head>
    <body>
        {% include "menu.html" %}
        <div id="nav">
            <a href="/bookmarks/popular/">인기있는북마크</a>|
            {% if user.is_authenticated %}
            <a href="/bookmarks/save/">북마크추가</a>|
            <a href="/bookmarks/search/">검색</a>
            {% endif %}
        </div>
        <h1>{% block head %}{% endblock %}</h1>
        {% if mesages %}
        <ul class="messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% block content %}{% endblock %}
        <div id="footer">
            Django bookmarks<br />
            Languages:
            <a href="/i18n/setlang/?language=en">en</a>
            <a href="/i18n/setlang/?language=ko">ko</a>
        </div>
    </body>
</html>