{% if bookmarks %}
<ul class="bookmarks">
    {% for bookmark in bookmarks %}
    <li>
        <a href="{{ bookmark.link.url|escape }}" class="title">
            {{ bookmark.title|escape }}</a>
        {% if show_edit %}
        <a href="/bookmarks/save/?url={{ bookmark.link.url|urlencode }}" class="edit">[Edit]</a>
        {% endif %}
        <br />
        {% if show_tags %}
        Tag:
            {% if bookmark.tag_set.all %}
            <ul class="tags">
                {% for tag in bookmark.tag_set.all %}
                <li> <a href="/bookmarks/tag/{{ tag.name|urlencode }}">{{ tag.name|escape }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
            No tag.
            {% endif %}
        <br />
        {% endif %}
        <br />
        
        {% if show_user %}
        User added:
        <a href="/bookmarks/user/{{ bookmark.user.username }}/" class="username">
            {{ bookmark.user.username }}</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
    {% if show_paginator %}
    <div class="paginator">
        {% if has_prev %}
        <a href="?page={{ prev_page }}">&laquo; Next</a>
        {% endif %}
        {% if has_next %}
        <a href="?page={{ next_page }}">Prev &raquo;</a>
        {% endif %}
        (Page {{ page }} of {{ pages }})
    </div>
    {% endif %}
{% else %}
<p> No bookmark.</p>
{% endif %}