{% extends "base.html" %}
{% block title %}{{ username }}'s friends{% endblock %}
{% block head %}{{ username }}'s friends{% endblock %}
{% block body_area %}
<div class="col-md-12">
<h2>Friends</h2>
{% if friends %}
<ul class="friends">
    {% for friend in friends %}
    <li><a href="/bookmarks/user/{{ friend.username }}/">
        {{ friend.username }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>No friend.</p>
{% endif %}
<h2>Friends recent bookmarks</h2>
<a href="/bookmarks/friend/invite/">Invite friends</a>
{% include 'bookmark_list.html' %}
</div>
{% endblock %}
