{% extends "base.html" %}
{% block external %}
<script type="text/javascript" src="/static/bookmarks/search.js"></script>
{% endblock %}
{% block title %}북마크를 검색하세요.{% endblock %}
{% block head %}북마크를 검색하세요.{% endblock %}
{% block body_area %}
<div class="col-md-12">
    <form id="search-form" method="get" action=".">
        {{ form.as_p }}
        <input type="submit" value="검색" />
    </form>
    <h3>검색결과:</h3>
    <div id="search-results">
        {% if show_results %}
        {% include 'bookmark_list.html' %}
        {% endif %}
    </div>
</div>
{% endblock %}
