<!doctype html>
{% load staticfiles %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'bootstrap/css/bootstrap-responsive.css' %}" rel="stylesheet">
<link rel="stylesheet" href="/static/bookmarks/style.css" type="text/css" />
<title>Tag</title>
    <style>
        body { margin:0; }
    </style>
</head>
<body>
<div id="tag-cloud">
    {% for tag in tags %}
    <a href="/bookmarks/tag/{{ tag.name|urlencode }}/" class="tag-cloud-{{ tag.weight }}" target="_blank">
        {{ tag.name|escape }}</a>
    {% endfor %}
</div>
</body>
</html>
