{% extends "base.html" %}
{% block title %}{{ polllist.title }}{% endblock %}
<style>

.header_title { background-color: #eeeeff}

</style>
{% include "header.html" %}
</head>
<body>
{% include "menu.html" %}   

{% block body_area %}
<div class="col-md-12">
<h4>{{ polllist.title }}</h4>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' polllist.id %}" method="post" class="form-inline">
{% csrf_token %}
<table class="table table-bordered">
{% for poll in polllist.poll_set.all %}
	<tr><td class="header_title">
	<label>{{ poll.question }}</label>
	</td></tr>
	<tr><td>
	{% for choice in poll.choice_set.all %}
	    <input type="radio" name="{{ poll.id }}" id="{{ poll.id }}" value="{{ choice.id }}" />
	    <label>{{ choice.choice_text }}</label><br />
	{% endfor %}
	</td></tr> 
{% endfor %}
</table>
<button class="btn" type="submit">Vote</button>
<a class="btn" href="/polls/{{ polllist.id }}/results">Result</a>
<a class="btn" href="/polls/">List</a>
</form>
</div>
{% endblock %}