{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ polllist.title }}{% endblock %}
<style>

th { background-color: #cccccc}

</style>
{% include "header.html" %}
</head>
<body>
{% include "menu.html" %}   

{% block body_area %}
<style>
th { background-color: #cccccc; }
</style>
<div class="col-md-12">
<h4>{{ polllist.title }}</h4>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' polllist.id %}" method="post" class="form-inline">
{% csrf_token %}
<table class="table table-bordered">
{% for poll in polllist.poll_set.all %}
	<tr><th>
	<label>{{ poll.question }}</label>
	</th></tr>
	<tr><td>
	{% for choice in poll.choice_set.all %}
	    <input type="radio" name="{{ poll.id }}" id="{{ poll.id }}" value="{{ choice.id }}" />
	    <label>{{ choice.choice_text }}</label><br />
	{% endfor %}
	</td></tr> 
{% endfor %}
</table>
<button class="btn btn-primary" type="submit">{% trans 'Vote' %}</button>
<a class="btn btn-primary" href="{% url 'polls:results' polllist.id %}">{% trans 'Result' %}</a>
<a class="btn btn-primary" href="{% url 'polls:index' %}">{% trans 'List' %}</a>
</form>
</div>
{% endblock %}