<!doctype html>
{% load staticfiles %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'bootstrap/css/bootstrap-responsive.css' %}" rel="stylesheet">
<title>Poll</title>
<style>

.header_title { background-color: #eeeeff}

</style>
{% include "header.html" %}
</head>
<body>
{% include "menu.html" %}    

<h4>Poll List</h4>
{% if latest_poll_list %}
    <table class="table table-bordered">
        <tr class="header_title">
        <th>Poll ID</th>
        <th>투표기간</th>
        </tr>
    {% for poll in latest_poll_list %}
        <tr>
        <td><a href="{% url 'polls:detail' poll.id %}">{{ poll.title }}</a></td>
        <td>{{ poll.start_date|date:"m/j" }} ~ {{ poll.end_date|date:"m/j" }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No list</p>
{% endif %}
<a href="/" class="btn">Home</a>
</body>
</html>