<!doctype html>
{% load staticfiles %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'bootstrap/css/bootstrap-responsive.css' %}" rel="stylesheet">
<title>Poll</title>
</head>
<body>
{% if latest_poll_list %}
    <table>
    {% for poll in latest_poll_list %}
        <tr>
        <td><a href="{% url 'polls:detail' poll.id %}" target="_blank">{{ poll.title }}</a></td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No list</p>
{% endif %}
</body>
</html>