{% load i18n %}
{% if polllist %}
<div class="ig-poll-form">
    <h2 class="ig-page-title" style="font-size:1rem;">{{ polllist.title }}</h2>
    <form action="{% url 'polls:vote' polllist.id %}" method="post">
        {% csrf_token %}
        {% for poll in poll_items %}
            <fieldset class="ig-poll-question">
                <legend>{{ poll.question }}</legend>
                {% for choice in poll.choice_set.all %}
                    <label class="ig-choice">
                        <input type="radio" name="{{ poll.id }}" value="{{ choice.id }}">
                        <span>{{ choice.choice_text }}</span>
                    </label>
                {% endfor %}
            </fieldset>
        {% endfor %}
        <div class="ig-toolbar">
            <button class="ig-btn" type="submit">{% trans 'Vote' %}</button>
            <a class="ig-chip" href="{% url 'polls:results' polllist.id %}">{% trans 'Result' %}</a>
            <a class="ig-chip" href="{% url 'polls:index' %}">{% trans 'List' %}</a>
        </div>
    </form>
</div>
{% else %}
<div class="ig-empty"><p>{% trans 'No list' %}</p></div>
{% endif %}
