<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>Write Blog</title>
{% include "header.html" %}
</head>
<body>
{% include "menu.html" %}    
<h4>Write Blog</h4>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'blog:add_submit' %}" method="post" class="form-inline">
{% csrf_token %}
	<table class="table">
		<tr>
			<td>Title</td>
			<td><input type="text" name="blog_title" value="" /></td>
		</tr>
		<tr>
			<td>Contents</td>
			<td><textarea name="contents" rows="10" cols="100" style="width:95%"></textarea></td>
		</tr>
	</table>
<button class="btn" type="submit">Send</button>
<a class="btn" href="/blog/">List</a>
</form>
</body>
</html>