<!doctype html>
{% load staticfiles %}
{% load django_markdown %}
<html>
    <head>
        {% include "header.html" %}    
        <style>
            .right { float : right; }
        </style>
        <title>Blog List</title>
    </head>
    <body>
        {% include "menu.html" %}
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span9">

                    {% if latest_blog_list %}
                    {% for blog in latest_blog_list %}
                    <div class="white-box">
                        <div class="row-fluid">
                            <div class="span1">
                                <img class="img-circle" src="http://placehold.it/64x64">
                            </div>
                            <div class="span11">
                                <a href="{{blog.id}}/update/">{{ blog.blog_title }}</a><br />
                                {{ blog.user.username }}<br />
                                {{ blog.pub_date|date:"Y-m-j" }}
                            </div>
                        </div>
                        <div class="contents">{{ blog.contents|markdown }}</div>
                        <div class="text-right">
                            <a class="btn" href="{{ blog.id }}/delete/"><i class="icon-trash"></i>Delete</a>
                            <a class="btn" href="{{ blog.id }}/like/"><i class="icon-heart"></i> {{ blog.like_count }}</a>
                        </div>
                    </div> <!-- white-box -->

                    {% endfor %}
                    {% else %}
                    <p>No contents</p>
                    {% endif %}
                </div> <!-- left span -->
                <div class="span3">
                    <div class="white-box">
                    최근글 목록
                    <ul>
                        <li>2015/11</li>
                        <li>2015/10</li>
                    </ul>
                    </div>
                    <div class="white-box">
                    인기글 목록
                    </div>
                </div>
            </div> <!-- row end -->

        </div> <!-- container end -->
        {% include "footer.html" %}  
    </body>
</html>