{% extends "base.html" %}
{% block title %}Blog List{% endblock %}
 
{% block external %}    
<style>
    .right { float : right; }
</style>
<script type="text/javascript" src="/static/blog/blog.js"> </script>
{% endblock %}
 
{% block body_area %}
{% load django_markdown %}
<div class="col-md-9">
<a class="btn btn-success" href="{% url 'blog:blog_add' %}">작성</a> 
<a class="btn btn-success" href="{% url 'blog:blog_feed' %}">Feed</a>
    {% if latest_blog_list %}
    {% for blog in latest_blog_list %}
    <div class="white-box">
        <div class="row-fluid">
            <div class="span12">
                <h4><a href="{% url 'blog:detail' blog.id %}">{{ blog.blog_title }}</a></h4>
                {{ blog.user.username }}님 
                {{ blog.pub_date|date:"Y-m-j" }}
            </div>
        </div>
        <div class="contents">{{ blog.contents|markdown }}</div>
        <div class="text-right">
            <a class="btn" href="{% url 'blog:delete' blog.id %}"><i class="glyphicon glyphicon-trash"></i>Delete</a>
            <button class="btn" id="blog_like_click"><i class="glyphicon glyphicon-heart"></i><span id="blog_like" value="{{ blog.id }}">{{ blog.like_count }}</span></button>
        </div>
    </div> <!-- white-box -->

    {% endfor %}
    {% else %}
    <p>No contents</p>
    {% endif %}
</div> <!-- left span -->
<div class="col-md-3">
    <div class="white-box">
    <h4>글목록</h4>
    <ul id="recent_article">

    </ul>
    </div>
    <div class="white-box">
    <h4>인기글</h4>
    <ul id="favorite_article">

    </ul>
    </div>
</div>

{% endblock %}