{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ blog.blog_title }}{% endblock %}
{% block external %}
<script type="text/javascript" src="/static/blog/blog_each.js"> </script>
{% endblock %}
{% block body_area %}
{% load django_markdown %}
<div class="col-md-12">
<h4>{{ blog.blog_title }} </h4>
<div class="row">
  <div class="col-md-6">
    <span class="badge">
    {% trans 'Writer' %}' : {{ blog.user.username }} {% if blog.user.first_name %} ({{blog.user.last_name }}{{ blog.user.first_name}}) {% endif %}
    </span>
  </div>
  <div class="col-md-6 text-right">
    <span class="badge">
    {% trans 'Pub date' %}' : {{ blog.pub_date|date:"Y-m-j" }}
    </span>
    <span class="badge">
    {% trans 'Count' %} : {{ blog.view_count }}
    </span>
  </div>
</div>  
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% csrf_token %}
  <div>{{ blog.contents|markdown }}</div>
<button class="btn" id="blog_like_click"><i class="glyphicon glyphicon-heart"></i><span id="blog_like" value="{{ blog.id }}">{{ blog.like_count }}</span></button>
<a class="btn" href="{% url 'blog:update' blog.id %}">{% trans 'Edit' %}</a>
<a class="btn" href="{% url 'blog:index' %}">{% trans 'List' %}</a>
<a class="btn" href="{% url 'blog:blog_add' %}">{% trans 'Add' %}</a>
{% include "disqus.html" %}
</div>
{% endblock %}