<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>Update Blog</title>
{% include "header.html" %}
</head>
<body>
{% include "menu.html" %}    
<h4>{{ blog.blog_title }}</h4>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'blog:update_submit' blog.id %}" method="post" class="form-inline">
{% csrf_token %}
	<table class="table">
		<tr>
			<td>Title</td>
			<td><input type="text" name="blog_title" value="{{ blog.blog_title }}" /></td>
		</tr>
		<tr>
			<td>Contents</td>
			<td><textarea name="contents" rows="10" cols="100" style="width:95%">{{ blog.contents }}</textarea></td>
		</tr>
	</table>
<button class="btn" type="submit">Update</button>
<a class="btn" href="/blog/{{ blog.id }}/delete">Delete</a>
<a class="btn" href="/blog/">List</a>
</form>
</body>
</html>