{% extends "base.html" %}
{% block title %}User Login{% endblock %}
{% block external %}
<style>

    .page-header {
        padding-left: 20px;
        padding-bottom: 15px;
        margin-top: 16px;
    }
    .page-body {
        padding-left: 20px;
        padding-right:20px;
        padding-bottom: 10px;
        margin-top: 5px;
    }
    .input_box {
        width:95%;
        height:38px;
        font-size:16px;
    }
    .left { float: left;}
    .right { float: right;}

    .center-box {
        position:relative;
        float: left;
        left:50%;
    }
    .right-box {
        position:relative;
        float: right;
        left:-50%;
    }
</style>
{% endblock %}
{% block body_area %}
<div class="col-md-12">
<div class="center-box">
    <div class="right-box">
        <div class="white-box">
            <div class="page-header">
                <h4>Login</h4>
            </div>
            {% if form.has_errors %}
            <p> Your username and password didn't match. Please try again.</p>
            {% endif %}
            <div class="page-body">
                <form method="post" action="{% url 'user_manager:login' %}">
                    {{ form.name_of_field.errors }} 
                    {% csrf_token %}
                    <!-- go to success page after login -->
                    {% if next %}
                    <input type="hidden" name="next" value="{{ next }}" />
                    {% endif %}
                    <div class="form-group">
                    <input class="control-group" type="text" id="username" name="username"  placeholder="Username">
                    </div>
                    <div class="form-group">
                    <input class="control-group" type="password" name="password" id="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Login</button>
                        <a href="/user/register" class="btn btn-danger">Register</a>
                        <div class="right">
                            <a href="/user/resetpassword">패스워드찾기</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
