<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Django my profile</title>
{% include "header.html" %}    
  </head>

  <body>

{% include "menu.html" %}    

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Django Project</h1>
        <p> python django project - blog, polls application </p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Blog</h2>
          <p><iframe src="/blog/short" frameborder=0 style="border-width:0px; border-color:white; border-style:solid;"></iframe></p>
          <p><a class="btn" href="/blog">View Blog &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Polls</h2>
          <p><iframe src="/polls/short" frameborder=0 style="border-width:0px; border-color:white; border-style:solid;"></iframe></p>
          <p><a class="btn" href="/polls">View Polls &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Others</h2>
          <p><iframe src="/blog/short" frameborder=0 style="border-width:0px; border-color:white; border-style:solid;"></iframe></p>
          <p><a class="btn" href="/blog">View Blog &raquo;</a></p>
        </div>
      </div>

    </div> <!-- /container -->
  </body>
</html>
