{% load i18n %}
<header class="ig-topbar">
    <div class="ig-topbar__inner">
        <a class="ig-brand" href="{% url 'blog:index' %}" aria-label="Song's Lab home">
            <span class="ig-brand__mark" aria-hidden="true"></span>
            <span class="ig-brand__name">Song's Lab</span>
        </a>

        <form class="ig-search" action="{% url 'blog:index' %}" method="get" role="search">
            <label class="sr-only" for="ig-search-input">{% trans 'Search' %}</label>
            <input id="ig-search-input" type="search" name="q" placeholder="{% trans 'Search' %}" autocomplete="off">
        </form>

        <nav class="ig-topbar__actions" aria-label="Primary">
            <a class="ig-icon-btn" href="{% url 'blog:index' %}" title="{% trans 'Blog' %}">
                <svg viewBox="0 0 24 24" aria-hidden="true"><path d="M9.5 20.5v-6h5v6h5.5V12h3L12 2.5 1 12h3v8.5z"/></svg>
            </a>
            <a class="ig-icon-btn" href="{% url 'blog:blog_add' %}" title="{% trans 'Add' %}">
                <svg viewBox="0 0 24 24" aria-hidden="true"><path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm0 18a8 8 0 1 1 8-8 8 8 0 0 1-8 8zm1-13h-2v4H7v2h4v4h2v-4h4v-2h-4z"/></svg>
            </a>
            <a class="ig-icon-btn" href="{% url 'polls:index' %}" title="{% trans 'Polls' %}">
                <svg viewBox="0 0 24 24" aria-hidden="true"><path d="M5 21V9h3v12H5zm6 0V3h3v18h-3zm6 0v-8h3v8h-3z"/></svg>
            </a>

            <div class="ig-account">
                <button class="ig-avatar-btn" type="button" aria-expanded="false" aria-haspopup="true" data-account-toggle>
                    {% if user.is_authenticated %}
                        {% with accounts=user.socialaccount_set.all %}
                            {% if accounts %}
                                {% for account in accounts %}
                                    {% if forloop.first %}
                                        <img class="ig-avatar" src="{{ account.get_avatar_url }}" alt="{{ user.username }}">
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <span class="ig-avatar ig-avatar--initial">{{ user.username|make_list|first|upper }}</span>
                            {% endif %}
                        {% endwith %}
                    {% else %}
                        <span class="ig-avatar ig-avatar--guest" aria-hidden="true"></span>
                    {% endif %}
                </button>
                <div class="ig-account__menu" hidden data-account-menu>
                    {% if user.is_authenticated %}
                        <a href="/user/profile/">{% trans 'View Profile' %}</a>
                        <a href="/user/changepassword/">{% trans 'Change password' %}</a>
                        <a href="/user/resetpassword/">{% trans 'Reset password' %}</a>
                        {% if user.is_staff %}<a href="/admin">{% trans 'Admin' %}</a>{% endif %}
                        <a href="/user/logout/">{% trans 'Logout' %}</a>
                    {% else %}
                        <a href="/user/login/">{% trans 'Login' %}</a>
                        <a href="/user/register/">{% trans 'Register' %}</a>
                        <a href="/user/resetpassword/">{% trans 'Reset password' %}</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
</header>

<nav class="ig-bottom-nav" aria-label="Mobile">
    <a href="{% url 'blog:index' %}">
        <svg viewBox="0 0 24 24" aria-hidden="true"><path d="M9.5 20.5v-6h5v6h5.5V12h3L12 2.5 1 12h3v8.5z"/></svg>
        <span>{% trans 'Blog' %}</span>
    </a>
    <a href="{% url 'polls:index' %}">
        <svg viewBox="0 0 24 24" aria-hidden="true"><path d="M5 21V9h3v12H5zm6 0V3h3v18h-3zm6 0v-8h3v8h-3z"/></svg>
        <span>{% trans 'Polls' %}</span>
    </a>
    <a class="ig-bottom-nav__create" href="{% url 'blog:blog_add' %}">
        <svg viewBox="0 0 24 24" aria-hidden="true"><path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm1 15h-2v-4H7v-2h4V7h2v4h4v2h-4z"/></svg>
        <span>{% trans 'Add' %}</span>
    </a>
    <a href="{% url 'blog:blog_feed' %}">
        <svg viewBox="0 0 24 24" aria-hidden="true"><path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h10v2H4z"/></svg>
        <span>{% trans 'Feed' %}</span>
    </a>
    <a href="{% if user.is_authenticated %}/user/profile/{% else %}/user/login/{% endif %}">
        <svg viewBox="0 0 24 24" aria-hidden="true"><path d="M12 12a4.5 4.5 0 1 0-4.5-4.5A4.5 4.5 0 0 0 12 12zm0 2.25c-3.75 0-7.5 1.88-7.5 4.5V21h15v-2.25c0-2.62-3.75-4.5-7.5-4.5z"/></svg>
        <span>{% if user.is_authenticated %}{{ user.username }}{% else %}{% trans 'Login' %}{% endif %}</span>
    </a>
</nav>
