<!doctype html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Timeline Example</title>
        <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="/static/timeline.css" rel="stylesheet">
        <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    </head>
    <body>
        {% include "menu.html" %} 
        <div class="container logincontainer"> <!-- Start of container -->
            <div class="row-fluid"> <!-- start of row -->
                <div class="span12">
                    <div class="inside center loginbox"><br>
                        {% if not user.is_authenticated %}
                        <div class="alert alert-info"><h4>Login Please</h4>
                        </div>
                        ID : <input type="text" id="username" class="width50" /><br>
                        PW : <input type="password" id="password" class="width50" />
                        <div class="inside">
                            <a class="btn btn-primary" id="loginBtn">Login</a>
                            <a class="btn btn-primary between" id="registerBtn">Register</a>
                        </div>
                        {% else %}
                        <div class="alert alert-info"><h4>Login</h4>
                        </div>
                        ID : {{ user.username }}<br />
                        Name : {{ user.last_name }}{{ user.first_name }} 
                        <div class="inside">
                            <a class="btn btn-primary" href="/timeline/timeline.html">Timeline</a>
                            <a class="btn btn-primary between" href="/timeline/account.html">Account</a>
                            <a class="btn btn-primary between" href="/timeline/profile.html">Profile</a>
                        </div>
                        {% endif %}

                    </div>
                </div>
            </div> <!--end of row-->
        </div> <!-- end of container -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
        </script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js">
        </script>
        <script src="/static/timeline.js"></script>
        <script src="/static/base64.js"></script>
        <script>
            $(document).ready(function(){
                $("#registerBtn").click(function() {
                                        location.href="/timeline/join.html";
                                        });
                $("#loginBtn").click(doLogin);
                $("#adminBtn").click(goAdmin);

            });
        </script>
    </body>
</html>
        