<!doctype html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Timeline Example</title>
        <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="/static/timeline.css" rel="stylesheet">
        <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    </head>
    <body>
        {% include "menu.html" %} 
        <div class="container bg"><!-- start of container -->
            <div class="timeline"> <!-- start of timeline -->
                <div class="span7 bottom15"> <!-- start of span7 -->
                    <div class="roundinside bottom15 center">
                        <fieldset>
                            <label class="lightblue bold leftalign" for="textarea">
                                Compose New Message</label>
                            <textarea class="input-xlarge span6" id="writearea" name="content" row="3"></textarea>
                            <div>
                                <a class="btn btn-primary" id="writeBtn">Write</a>
                                <a class="btn btn-info between" id="reloadBtn">Refresh</a>
                            </div>
                        </fieldset>
                    </div>
                    <div class="roundinside" id="msgTemplate" style="display:none">
                        <a data-toggle="model" class="getInfo">
                            <div class="name lightblue"></div>
                        </a>
                        <div class="content">
                            <a class="btn close" name="deleteMsg">X</a>
                        </div>
                        <span class="date"></span>
                        <span class="like">
                            <a class="btn" id="like" name="like">
                                <i class="icon-chevron-up"></i>
                            </a>
                        </span>
                    </div>
                    <div id="timelinearea">
                    </div>
                </div> <!-- end of span7 -->
                <div class="span4 submenu"> <!-- start of span4 -->
                    <div class="roundinside">
                        <span>ID:</span><span id="username"></span>
                    </div>
                    <div class="roundinside">
                        <div class="pagination pagination-centered">
                            <ul>
                                <li>
                                    <a><strong id="total"></strong>Total Timeline</a>
                                </li>
                                <li>
                                    <a><strong id="mine"></strong>My Timeline</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="roundinside center bottom15">
                        <input type="text" class="search" id="search" />
                        <a class="btn btn-info" id="searchBtn">
                            <i class="icon-search"></i>
                        </a>
                    </div>
                </div> <!-- end of span4 -->
            </div> <!-- end of timeline -->
        </div> <!-- end of container -->
        
        <div class="modal hide fade" id="myModal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    X
                </button>
                <h2><span id="modalid"></span>'s Info</h2>
            </div>
            <div class="modal-body">
                <h3>Nick:<span id="modalnickname"></span></h3>
                <h3>Country:<span id="modalcountry"></span></h3>
                <h3>URL:<span id="modalurl"></span></h3>
                <h3>Comment:<span id="modalcomment"></span></h3>
            </div>
        </div>

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
        </script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js">
        </script>
        <script src="/static/timeline.js"></script>
        <script src="/static/base64.js"></script>
        <script>
            $(document).ready(function(){
                getLoginString();
                doGetTimeline();
                $("#adminBtn").click(goAdmin);
                $("#writeBtn").click(doWriteTimeline);
                $("#reloadBtn").click(doReload);
                
                $("[name=deleteMsg]").live("click",doDeleteTimeline);
                $("#searchBtn").click(doSearchTimeline);
                $("#logoutBtn").click(doLogout);
                
                $("[name=like]").live("click",doLike);
                $(".getInfo").live("click",doGetUserInfo);
            });
        </script>
    </body>
</html>
        